@import url("colors.css");
/* main{
    min-height: 100px;
} */
main{
    /* border: 5px solid rgb(205, 68, 38); */
    /* gap: 60px; */
    /* width: 100%; */
    flex-direction: column;
    padding: 0;
}
.main1{
    /* width 100vw; */
    /* border: 5px solid rgb(205, 68, 38); */
    background-color: whitesmoke;
    padding: 0;
    width: 100%;
}
.myCarusel{
    /* border: 5px solid rgb(38, 205, 205); */
    padding: 0;
    width: 100%;
    animation: slideUpCarousel 0.5s;
}
.carousel-item img{
    height: 600px;
    width: 98vw;
    object-fit: cover;
    opacity: 85%;
}

.main2{
    background-color: var(--secondary_2);
    background-color: whitesmoke;
    flex-wrap: wrap;

}
.main2 .container{
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}
.cards1, .cards2{
    /* border: 2px solid forestgreen; */
    flex: 1;
    font-family: 'Rubik Maps', serif;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    
    /* chatGPT */
    opacity: 0; /* מוסתר */
    transform: translatey(30%); /* מחוץ למסך */
    transition: opacity 0.3s ease-out, transform 1s ease-out;
}

.cards2.visible, .cards1.visible {
    opacity: 1; /* גלוי */
    transform: translatey(0); /* בתוך המסך */
}

.myCard{
    /* border: 2px solid forestgreen; */
    border-top: 10px solid var(--primary_2);
    border-bottom: 10px solid var(--primary_2);
    justify-content: end;
    /* flex-direction: column; */
    background-position: center center;
    background-size: cover;
    transition: all 1s;
}
.cards1 .myCard:hover, .cards2 .myCard:hover{
    flex: 3;
}
.cards1 .card1{
    background-image: url("../images/market2.jpg");
    flex: 1;
}
.cards1 .card2{
    background-image: url("../images/gallery/tunnel.jpg");
    background-position: center right;
    flex: 1;
}
.cards1 .card4{
    background-image: url("../images/יד\ ושם.jpg");
    flex: 1;
}
.cards1 .card3{
    background-image: url("../images/Jerusalén\,\ Israel.jpeg");
    background-position: center right;
    flex: 1;
}
.cards1 .card4{
    background-image: url("../images/יד\ ושם.jpg");
    flex: 1;
}
.cards1 .card5{
    background-image: url("../images/david.jpg");
    flex: 1;
}
/* cards2 */
.cards2 .card1{
    background-image: url("../images/canter-staition.jpg");
    flex: 1;
}
.cards2 .card2{
    background-image: url("../images/train3.jpeg");
    background-position: center right;
    flex: 1;
}
.cards2 .card3{
    background-image: url("../images/egged.jpg");
    /* background-position: center right; */
    flex: 1;
}
.cards2 .card5{
    background-image: url("../images/gallery/bride3.webp");
    flex: 1;
}

.myCard h4{
    color: var(--secondary_2);
    font-size: x-large;

}
.myCard h4:hover{
    color: var(--primary);
}
.myCard a{
    text-decoration: none;
    direction: rtl;
}
.text-card{
    color: var(--secondary_2);
    height: 450px;
    padding: 4px;
    /* flex: 2; */
    align-items: center;
    background-color: var(--primary_2);
    h2{
        margin: 0;
        padding: 20px;
        direction: rtl;
    }
}
.numbers{
    flex: 1;
    gap: 5px;
}
.information{
    flex: 1;
}
.information .container{
    height: 800px;
}
.jerusalem-number{
    font-size: 150%;
    font-weight: bold;
    width: 100%;
    border: 3px solid var(--primary);
    background-color: var(--secondary_2);
    justify-content: space-between;
    /* chatGPT */
    opacity: 0; /* מוסתר */
    transform: translatey(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.jerusalem-number.visible {
    opacity: 1; /* גלוי */
    transform: translatey(0); /* בתוך המסך */
}

.cards3{
    /* border: 2px solid red; */
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.info{
    /* border: 2px solid red; */
    border-top: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    color: rgb(56, 33, 2);
    direction: rtl;
    font-weight: bold;
    opacity: 80%;
    padding: 3px;
    border-radius: 3%;
    background-color: var(--secondary_2);
    /* border-radius: 20%; */
    height: 100px;
    width: 150px;
    box-shadow: 5px 5px 10px 1px rgb(71, 69, 69);
    /* flex: 1; */
    padding: 6px;
    /* flex-direction: column; */
    position: relative;
    /* height: 40%; */
    gap: 1px;
    p{
        margin-top: 10px;
    }
    img{
        position: absolute;
        top: 1px;
        width: 50%;
        margin: auto;
    
        margin-bottom: 10px;
        /* border: 3px solid red; */
    }
    
}

.cards3 .fa{
    font-size: 300%;
    display: none;
}

@keyframes slideUpCarousel {
    from {
        transform: translatey(-100%);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

@media (max-width: 680px){
    .container{
        width: 100%;
    }
    .carousel-item img{
        width: 100vw;
    }

    .main2 .container{
        gap: 3px;
    }
    .cards1, .cards2{
        flex-direction: column;

    }
    .myCard{
        padding: 40px;
        border-right: 10px solid var(--primary_2);
        border-left: 10px solid var(--primary_2);
        border-top: none;
        border-bottom: none;
        width: 100%;
        min-height: unset;
        height: 650px;
        flex: 1;
    }
    .myCard:hover{
        flex: 7;
    }

    .text-card{
        width: 100%;
        flex: 1;
        height: 80px;
        h2{
            padding: 0;
        }
    }
    .info img{
        display: none;
    }

}
@media (min-width: 681px) {
    .myCard{
        height: 450px;
        flex: 1;
    }
}