@import url("colors.css");
/* main{
    min-height: 100px;
} */
main{
    /* border: 5px solid rgb(205, 68, 38); */
    /* gap: 60px; */
    /* width: 100%; */
    flex-direction: column;
    padding: 0;
}
.main1{
    /* width 100vw; */
    /* border: 5px solid rgb(205, 68, 38); */
    background-color: whitesmoke;
    padding: 0;
    width: 100%;
}
.myCarusel{
    /* border: 5px solid rgb(38, 205, 205); */
    padding: 0;
    width: 100%;
    animation: slideUpCarousel 0.5s;
}
.carousel-item img{
    height: 600px;
    width: 98vw;
    object-fit: cover;
    opacity: 85%;
}

.main2{
    background-color: var(--secondary_2);
    background-color: whitesmoke;
    flex-wrap: wrap;

}
.main2 .container{
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}
.cards1, .cards2{
    /* border: 2px solid forestgreen; */
    flex: 1;
    font-family: 'Rubik Maps', serif;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    
    /* chatGPT */
    opacity: 0; /* מוסתר */
    transform: translatey(30%); /* מחוץ למסך */
    transition: opacity 0.3s ease-out, transform 1s ease-out;
}

.cards2.visible, .cards1.visible {
    opacity: 1; /* גלוי */
    transform: translatey(0); /* בתוך המסך */
}

.myCard{
    /* border: 2px solid forestgreen; */
    border-top: 10px solid var(--primary_2);
    border-bottom: 10px solid var(--primary_2);
    justify-content: end;
    /* flex-direction: column; */
    background-position: center center;
    background-size: cover;
    transition: all 1s;
}
.cards1 .myCard:hover, .cards2 .myCard:hover{
    flex: 3;
}
.cards1 .card1{
    background-image: url("../images/market2.jpg");
    flex: 1;
}
.cards1 .card2{
    background-image: url("../images/gallery/tunnel.jpg");
    background-position: center right;
    flex: 1;
}
.cards1 .card4{
    background-image: url("../images/יד\ ושם.jpg");
    flex: 1;
}
.cards1 .card3{
    background-image: url("../images/Jerusalén\,\ Israel.jpeg");
    background-position: center right;
    flex: 1;
}
.cards1 .card4{
    background-image: url("../images/יד\ ושם.jpg");
    flex: 1;
}
.cards1 .card5{
    background-image: url("../images/david.jpg");
    flex: 1;
}
/* cards2 */
.cards2 .card1{
    background-image: url("../images/canter-staition.jpg");
    flex: 1;
}
.cards2 .card2{
    background-image: url("../images/train3.jpeg");
    background-position: center right;
    flex: 1;
}
.cards2 .card3{
    background-image: url("../images/egged.jpg");
    /* background-position: center right; */
    flex: 1;
}
.cards2 .card5{
    background-image: url("../images/gallery/bride3.webp");
    flex: 1;
}

.myCard h4{
    color: var(--secondary_2);
    font-size: x-large;

}
.myCard h4:hover{
    color: var(--primary);
}
.myCard a{
    text-decoration: none;
    direction: rtl;
}
.text-card{
    color: var(--secondary_2);
    height: 450px;
    padding: 4px;
    /* flex: 2; */
    align-items: center;
    background-color: var(--primary_2);
    h2{
        margin: 0;
        padding: 20px;
        direction: rtl;
    }
}
.numbers{
    flex: 1;
    gap: 5px;
}
.information{
    flex: 1;
}
.information .container{
    height: 800px;
}
.jerusalem-number{
    font-size: 150%;
    font-weight: bold;
    width: 100%;
    border: 3px solid var(--primary);
    background-color: var(--secondary_2);
    justify-content: space-between;
    /* chatGPT */
    opacity: 0; /* מוסתר */
    transform: translatey(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.jerusalem-number.visible {
    opacity: 1; /* גלוי */
    transform: translatey(0); /* בתוך המסך */
}

.information{
    /* border: 3px solid rgb(128, 0, 0);  */
    /* width: 25%; */
    gap: 6px;
    justify-content: space-between;
}

.cardsLeft, .cardsRight{
    /* border: 3px solid green; */
    flex-direction: column;   
    gap: 6px;
    width: 40%;
      /* chatGPT */
      opacity: 0; /* מוסתר */
      transform: translatex(30%); /* מחוץ למסך */
      transition: opacity 0.3s ease-out, transform 1s ease-out;
}

.cardsLeft.visible, .cardsRight.visible {
    opacity: 1; /* גלוי */
    transform: translatex(0); /* בתוך המסך */
}
.cardsLeft{
    /* border: 3px solid green;  */
     /* chatGPT */
     opacity: 0; /* מוסתר */
     transform: translatex(-30%); /* מחוץ למסך */
     transition: opacity 0.3s ease-out, transform 1s ease-out;  
}
.cardsRight{
    /* border: 3px solid rgb(128, 90, 0);  */
     /* chatGPT */
     opacity: 0; /* מוסתר */
     transform: translatex(30%); /* מחוץ למסך */
     transition: opacity 0.3s ease-out, transform 1s ease-out;
}
.info{
    /* border: 3px solid green; */
    background-color: rgba(128, 57, 57, 0.703);
    background-position: top center;
    background-size: cover;
    border-left:4px solid var(--primary_2);
    border-right:4px solid var(--primary_2);
    height: 180px;
    width: 100%;
    padding: 3px;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px 2px 2px 1px #a59797;

    .image{
        /* border: 1px solid red; */
        /* background-image: url("./haredim.jpeg"); */
     
        border-radius: 10px 10px 0 0 ;
        width: 100%;
        flex: 2;
    }
    .txt{
        font-style: normal;
        font-weight: 600;
        font-size: x-small;
        background-color: rgba(235, 232, 208, 0.732);
        height: 25%;
        width: 100%;
        border-radius: 0 0 10px 10px;
        justify-self: flex-end;
        margin-top: -36px; /* יוצר חפיפה עם התמונה */
        p{
            padding: 0 2px;
            margin: 0;
            direction: rtl;
            text-align: center;
        }
    }
}
.cardsLeft .info1{
    background-image: url("../images/information/haredim.jpeg");
}   
.cardsLeft .info2{
    background-image: url("../images/information/Residents.webp");
}   
.cardsLeft .info3{
    background-image: url("../images/information/big\ city.jpg");
}  
.cardsLeft .info4{
    background-image: url("../images/information/Neighborhoods2.jpg");
}  
.cardsLeft .info5{
    background-image: url("../images/information/Jerusalem\ of\ Israel.webp");
}

.cardsRight .info1{
    background-image: url("../images/information/Tourists.jpg");
}  
.cardsRight .info2{
    background-image: url("../images/information/favicon.jpg");
}  
.cardsRight .info3{
    background-image: url("../images/information/אולם\ מועצת\ העיר\ ירושלים.jpeg");
}  
.cardsRight .info4{
    background-image: url("../images/information/Jerusalem-train.jpeg");
}  
.cardsRight .info5{
    background-image: url("../images/information/100.jpeg");
}  


@keyframes slideUpCarousel {
    from {
        transform: translatey(-100%);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

@media (max-width: 680px){
    .container{
        width: 100%;
    }
    .carousel-item img{
        width: 100vw;
    }

    .main2 .container{
        gap: 3px;
    }
    .cards1, .cards2{
        flex-direction: column;

    }
    .myCard{
        padding: 40px;
        border-right: 10px solid var(--primary_2);
        border-left: 10px solid var(--primary_2);
        border-top: none;
        border-bottom: none;
        width: 100%;
        min-height: unset;
        height: 650px;
        flex: 1;
    }
    .myCard:hover{
        flex: 7;
    }

    .text-card{
        width: 100%;
        flex: 1;
        height: 80px;
        h2{
            padding: 0;
        }
    }
    .info img{
        display: none;
    }

}
@media (min-width: 681px) {
    .myCard{
        height: 450px;
        flex: 1;
    }
}